@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap&family=Mukta:wght@200;300;400;500;600;700;800&display=swap&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --dark: #21435D;
    --light: #F7F6F6;
    --dark-accent: #807595;
    --dark-accent-rgb: 128, 117, 149;
    --accent-alpha: #80759515;
    --light-accent: #7B949C;
    --light-accent-rgb: 123, 148, 156;
    --main: #7A6F8F;
    --margin-x: 14%;
    --gradient: conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
    --default-font-family: 'Mukta', 'Lato', sans-serif;
}

body {
    margin: 0;
    color: var(--dark);
    background-color: var(--light);
    display:flex;
    flex-direction:column;
    min-height:100vh;
    font-family: var(--default-font-family);
}

h1 {
    color: var(--dark);
    font-size: 180%;
    margin: 0;
}

footer {
    margin-top: 80px;
    padding-left: 1.5%;
    background-color: var(--accent-alpha);
}

.header {
    margin-bottom: 13px;
}

.wrapper {
    flex:1;
}

#website-title {
    font-size: 3.5rem;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 8px;
    padding-left: 1.5%;
    padding-bottom: 15px;
    border-bottom:solid;
    color: var(--light);
    background-color: var(--dark);
    cursor: pointer;
    transition: opacity .3s;
}

.outline, .outline-colored {
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: var(--dark);
    background-color: var(--accent-alpha);
    padding: 1% 2%;
}

.outline-colored {
    border-color: rgba(var(--dark-accent-rgb), 1);
    background-color: var(--main);
    color: var(--light);
}

#recipe-name {
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    font-size: xx-large;
    box-sizing: border-box;
    padding: 10px;
    margin-left: var(--margin-x);
    width: calc(100% - var(--margin-x) * 2);
    background-color: rgba(var(--light-accent-rgb), .2);
}

#recipe-name.border-error {
    border-color: red;
}

.list-group {
    font-size: x-large;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 30px;
}

#recipe-list {
    padding-left: 1.5%;
}

.recipe-header {
    padding-left: 2%;
}

#recipe-title {
    font-size: xx-large;
    font-family: 'Indie Flower';
}